body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    max-width: 1000px;
    margin: 100px auto;
}

h1 {
    margin-bottom: 150px;
}

h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.logo {
    width: 100%;
}

hr {
    margin: 10px 0;
    border: 1px solid #f1f1f1;
}

a {
    color: inherit;
}

.section {
    margin: 30px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    width: 0;
    margin-right: 1em;
}

.col:last-child {
    margin-right: 0
}

.footer {
    float: right;
    color: #a5a5a5;
}

.footer a {
    text-decoration: none;

}