body {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
    color: #232323;
    font-size: 20px;
}

section {
    padding: 1em 3em;
    margin: auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

span.c4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    line-height: 3em;
}

a {
    text-decoration: none;
}