@font-face {
  font-family: 'sectra';
  src: url('GT-Sectra-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'wigrum';
  src: url('Wigrum-Light.otf') format('opentype');
}

html, body {
  height: 100%;
}

body {
  font-family: 'wigrum', sans-serif;
  margin: 0;
  color: #333333;
}

a {
  color: #333333;
}

header {
  text-align: center;
  margin: 40px 0;
}

header img {
  width: 100px;
}

.campaign {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 535px;
}

.campaign, .campaign-middle img {
  max-height: 535px;
}
.campaign-left {
  background-color: #6FD5C3;
  flex: auto;
}

.campaign-middle {
  position: relative;
  overflow: hidden;
}

.campaign-middle img {
  max-width: 220%;
}

.campaign-right {
  background-color: #FF6D59;
  flex: auto;
}

.campaign-text {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 450px);
  text-align: center;
  font-family: 'sectra', sans-serif;
  width: 900px;
  font-size: 40px;
}

.main {
  margin: 100px 0;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.8;
}

.main div {
  margin: 20px;
  flex: 0 1 480px;
}

footer {
  margin: 0 auto;
  max-width: 80%;
  font-size: 12px;
  border-top: 1px solid #ECECEC;
  text-align: center;
  padding-top: 50px;
}

footer a {
  text-decoration: none;
}

footer .separator {
  margin: 0 10px;
}

footer .icons a {
  margin: 20px 15px;
  display: inline-block;
}

img.icon {
  width: 18px;
}

@media (max-width: 900px) {
  .campaign-text {
    /*top: calc(50% - 60px);*/
    left: calc(50% - 300px);
    /*font-size: 30px;*/
    width: 600px;
  }

  .main {
    margin: 30px 0;
  }
}

@media (max-width: 700px) {
  .campaign-text {
    top: calc(50% - 70px);
    left: calc(50% - 180px);
    font-size: 25px;
    max-width: 360px;
  }
}
