body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1.1px;

    background-color: #ffffff;
    color: #000000;
}

p {
    margin-bottom: 1.8em;
}

h1 {
    line-height: 0.9;
    font-size: 58px;
}

h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.logo {
    height: auto;
    width: 124px;
}

.icon {
    height: auto;
    width: 18px;
}

.header {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.header .content {
    max-width: 960px;
    margin: 30px auto;
}

.header .right {
    float: right;
}

.header .right > * {
    margin-left: 40px;
}

.header .content > * {
    display: inline-block;
}

.head {
    max-width: 780px;
    margin-bottom: 100px !important;
}

.main {
    max-width: 960px;
    margin: 50px auto;
    padding: 20px;
}

hr {
    margin: 10px 0;
    border: 1px solid #f1f1f1;
}

a {
    color: inherit;
    text-decoration: none;
}

a.link {
    text-decoration: underline;
}

.section {
    margin: 30px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    width: 0;
    margin-right: 1em;
}

.col:last-child {
    margin-right: 0
}

.footer {
    float: right;
    color: #a5a5a5;
}

.footer a {
    text-decoration: none;

}